@font-face { font-family: 'Siyam Rupali';
  src: url('https://bits.wikimedia.org/static-current/extensions/UniversalLanguageSelector/data/fontrepo/fonts/SiyamRupali/SiyamRupali.eot?version=1.070');
  src: local('Siyam Rupali'),     url('https://bits.wikimedia.org/static-current/extensions/UniversalLanguageSelector/data/fontrepo/fonts/SiyamRupali/SiyamRupali.woff?version=1.070') format('woff'),        url('https://bits.wikimedia.org/static-current/extensions/UniversalLanguageSelector/data/fontrepo/fonts/SiyamRupali/SiyamRupali.ttf?version=1.070') format('truetype');
  font-style: normal;}

.hrline {
    border: 1px solid #cccc;
    margin: 20px 0;
}
.blogContent p b{
  font-weight: 600;
}
.headline {
    font-size: 30px;
    font-weight: bold;
}

.blogTopImage {
    display: flex;
    justify-content: center; /* Centers horizontally */
    /* Centers vertically */
    /* align-items: center;  */
    height: auto;
    margin: 20px 0;
}
.blogTopImage img{
  height: auto;
}
.blog{
    text-align: justify;
    font-family: "Siyam Rupali", Cambria, sans-serif;
    padding: 20px;
    font-size: 16px;
}

.blogContent p{
    margin-top: 15px;
}
.codeBlock {
    background-color: #f5f5f5; /* Light gray background */
    border: 1px solid #ddd; /* Light gray border */
  /* Some padding for better readability */
    border-radius: 5px; /* Rounded corners */
    overflow-x: auto; /* Horizontal scroll for long lines */
    margin: 20px 0;
    text-align: left;
    padding: 10px 30px;
  }
  
  .codeBlock code {
    font-family: 'Courier New', Courier, monospace; /* Monospaced font */
    white-space: pre; /* Preserve whitespace */
  }
  .inlineCode {
    background-color: #F0EFED; /* Light gray background */
    /* border: 1px solid #ccc;  */
    /* Light gray border */
    border-radius: 3px; /* Rounded corners */
    padding: 2px 4px; /* Some padding */
    font-family: 'Courier New', Courier, monospace; /* Monospaced font */
    margin: 0px 5px;
    font-weight: 600;
  }
  .blogImage{
    display: flex;
    justify-content: center; /* Centers horizontally */
    /* Centers vertically */
    /* align-items: center;  */
    height: 40vh;
    margin: 15px 0;
}
.blogSmallImage{
  display: flex;
  justify-content: center; 
  height: auot;
  margin: 15px 0;
}
.blogerName{
    margin: 25px 0;
    
}

.blogerName span{
    font-weight: bold;
}

.subHeadline{
  font-size: 25px;
  margin-top: 15px;
}

.blogSubheading{
  font-size: 20px;
  margin: 10px 0;
}

.ordreList{
  margin-top: 15px;
}

.ordreList li{
  margin-top: 15px;
  margin-left: 20px;
  list-style-type: disc;

}

/* home page styles */
.homePageSubHeadline{
  font-size: 20px;
}

.homepageTopicList{
   margin-top: 15px; 
   margin-left: 100px;
}

.homepageTopicList li{
  margin-bottom: 10px;
  font-weight: 600;
  
}

.hooksList{
  margin-top: 15px;
  margin-left: 50px;
}

.hooksList li{
  margin-bottom: 10px;
  list-style-type: disc;
  color: #087debcc;
  /* background-color: #d3d2d2; */
}